<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>HomePage</title>
  <link rel="stylesheet" href="css/styles.css">
</head>
<body>
  <h1>homepage</h1>

  <form action="/signup" method="post" autocomplete="on">
    <fieldset>
      <legend>Join Our Mailing List</legend>
      <label>Name:<span>*</span><br>
      <input id="name" type="text" name="name" placeholder="John Shepp"></label><br>
      <label>Email<span>*</span><br>
      <input type="email" name="email" placeholder="johnshepp@email.com" required></label><br>
      <input type="checkbox" name="adult" value="adult"> I am over 18<br>
      <input id="submit" type="submit" value="Register">
    </fieldset>
  </form>
  <a href="contact">Contact</a>
</body>
</html>