<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>HomePage</title>
  <link rel="stylesheet" href="css/styles.css">
</head>
<body>
  <h1>homepage</h1>

  <form id= "form" action="/" method="post" autocomplete="on">
    <fieldset>
      <legend>Subscribe to my Newsletter</legend>
      <label>Name:<span>*</span><br>
      <input id="name" type="text" name="name" placeholder="John Shepp" required ="true"></label><br>
      <label>Email<span>*</span><br>
      <input id="email"type="email" name="email" placeholder="johnshepp@email.com" required="true"></label><br>
      <input type="checkbox" name="adult" value="adult"> I am over 18<br>
      <input id="submit" type="submit" value="submit" onclick="updatehtml()" >
    </fieldset>
  </form>
  <div id="display">Subscribe to my Newsletter</div>
</body>
<script>
document.getElementById("submit").onclick = function() {
  let errors = []
  const displayname = document.getElementById("name").value;
  const displayemail = document.getElementById("email").value;
  if (!displayname || !displayemail) {
    alert("Please complete all required fields")
    window.location.href = "/";
  } else {
  alert("Thankyou " + displayname 
  + " please check " + displayemail 
  + " for your newsletter!")
  window.location.href = "/";
  }
};

const button = document.querySelector('#submit');
const paragraph = document.querySelector('#display');
const displayname = document.getElementById("name").value;

button.addEventListener('click', updatehtml);

function updatehtml() {
  if (button.value === 'submit') {
    form.style.display ="none";
    const displayname = document.getElementById("name").value;
    const displayemail = document.getElementById("email").value;
    paragraph.textContent = "Thankyou for subscribing to my newsletter " + displayname + "! Your first newsletter will be emailed to " + displayemail + " You will be redirected to the homepage in 10 seconds. Otherwise, click the link below to return home.";
    const homeButton = document.createElement('button')
    homeButton.innerHTML = "Return Home"
    homeButton.setAttribute('onclick', "location.href='/success'")
    document.body.appendChild(homeButton)
  }
  setTimeout(function () {
   window.location.href= '/success';
}, 10000);

}
</script>


</html>