<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>contact</title>
</head>
<body>

   <h1 id=sucess>Homepage</h1>

   <!-- redirects back to homepage after 5 seconds -->
   <!-- <script>
    setTimeout("location.href = '/';",5000);
    alert( "Thank you for your feedback" )
    event.preventDefault();
    </script>  -->

    <!-- <script>
      $("#form").on('submit',function(event) {
          event.preventDefault(); // to prevent default page reloading
          setTimeout(function () {
                  alert("Form submitted successfully! We'll get back to you soon. Thank you.");
              }, 2000);
              //alert("Form submitted successfully! We'll get back to you soon. Thank you."); // This will be called after the ajax executed
      });
    </script>
 -->
  
</body>
</html>